@use '../../../../styles/margins' as margin;
@use '../../../../styles/fonts' as font;
@use '../../../../styles/colors' as color;

$icon-size: 36px;

:host {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;

  .left-side {
    .greenhouse-name-wrapper {
      padding: margin.$huge;

      p {
        font-size: font.$size-big;
        font-weight: font.$weight-semibold;
      }
    }
  }

  .right-side {
    .buttons-wrapper {
      display: flex;
      flex-direction: row;
      gap: margin.$small;

      .button-wrapper {
        width: $icon-size;
        height: $icon-size;

        cursor: pointer;

        ::ng-deep {
          aurelis-settings-icon path {
            fill: color.$logo-green;
          }

          aurelis-refresh-icon path {
            stroke: color.$logo-green;
          }
        }
      }
    }
  }
}
