@if (showHoverMenu()) {
  <aurelis-plant-preview-hover-menu
    [plant]="plant"
    (wateringNoteRequested)="openWateringNotePopup()"
    (mouseleave)="toggleHoverMenu()"
  ></aurelis-plant-preview-hover-menu>
}

@if (wateringNotePopupOpen()) {
  <aurelis-plant-watering-note-popup
    [plant]="plant"
    [greenhouseId]="dashboardGreenhouseId()"
    (closed)="closeWateringNotePopup()"
  ></aurelis-plant-watering-note-popup>
}

<div class="plant-preview-wrapper" (mouseover)="toggleHoverMenu()">
  <div class="plant-preview-top-bar">
    <div class="plant-name-wrapper">
      <p>{{ plant.name }}</p>
    </div>
    <div class="plant-preview-image-wrapper">
      <img src="{{ plant.preview_url }}" alt="Plant preview" />
    </div>
  </div>
  <aurelis-plant-current-params [plant]="plant"></aurelis-plant-current-params>
  <div class="right-side">
    <div class="chart-wrapper">
      <canvas id="plant-preview-chart-{{ plant.id }}"></canvas>
    </div>
  </div>
</div>
