@use '../../../../../styles/margins' as margin;
@use '../../../../../styles/colors' as color;
@use '../../../../../styles/mixins' as mixin;
@use '../../../../../styles/fonts' as font;

$plant-icon-size: 40px;

:host {
  position: relative;
  box-sizing: border-box;
  min-height: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .plant-preview-wrapper {
    @include mixin.inner-shadow;

    flex: 1 1 auto;
    min-height: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: margin.$big;

    display: flex;
    flex-direction: column;
    gap: margin.$small;

    background: color.$white;
    border-radius: 10px;
    overflow: hidden;

    .plant-preview-top-bar {
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .plant-name-wrapper {
        min-width: 0;

        p {
          margin: 0;
          font-size: font.$size-small;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .plant-preview-image-wrapper {
        @include mixin.button-shadow;

        flex-shrink: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: $plant-icon-size;
        height: $plant-icon-size;
        padding: margin.$small;

        background: color.$page-background;
        border-radius: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    aurelis-plant-current-params {
      flex-shrink: 0;
    }

    .right-side {
      flex: 1 1 auto;
      min-height: 0;
      display: flex;
      flex-direction: column;

      .chart-wrapper {
        flex: 1 1 auto;
        min-height: 0;
        position: relative;
        width: 100%;
      }
    }
  }
}

