@use '../../../styles/margins' as margin;
@use '../../../styles/fonts' as font;
@use '../../../styles/colors' as color;

:host {
  max-width: calc(100% - 150px);
  height: 100%;
  padding: margin.$huge;
}
