$white: #ffffff;
$light-green:#DDE5B6;
$green:#C5D397;
$dark-green: #ADC178;
$light-brown: #ABA370;
$brown: #A98467;
$dark-brown: #6C584C;
$light-gray: #DAD5BF;
$gray: #C6C2AE;
$dark-gray: #B4B09E;
$logo-blue: #6CABD7;
$logo-green: #4D6E5D;
$text: #2A2A2A;
$page-background: #E6EBE0;
$dashboard-background: #FFFFF7;
$action-positive: #4DA44D;
$action-negative: #CF3131;
