$white: #ffffff;
$light-green: #dde5b6;
$green: #c5d397;
$dark-green: #adc178;
$light-brown: #aba370;
$brown: #a98467;
$dark-brown: #6c584c;
$light-gray: #dad5bf;
$gray: #c6c2ae;
$dark-gray: #b4b09e;
$logo-blue: #6cabd7;
$logo-green: #4d6e5d;
$text: #2a2a2a;
$page-background: #e6ebe0;
$dashboard-background: #fffff7;
$action-positive: #4da44d;
$action-negative: #cf3131;
$action-neutral: #c68b59;
