@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$family: 'Manrope', sans-serif;
$size-big: 36px;
$size-mid: 20px;
$size-small: 16px;
$size-smallest: 12px;
$size-chart-axis: 12px;

$weight-semibold: 600;
$weight-regular: 400;
