<div class="window-border">
  <div class="window-wrapper">
    <div class="top-bar">
      <div class="icon-wrapper refresh">
        <aurelis-refresh-icon></aurelis-refresh-icon>
      </div>
      <div class="icon-wrapper close">
        <aurelis-close></aurelis-close>
      </div>
    </div>
    @if (greenhouses().length > 0) {
      <aurelis-carousel>
        @for (plant of greenhouses()[0].plants; track plant.id) {
          <aurelis-plant-details [plant]="plant"></aurelis-plant-details>
        }
      </aurelis-carousel>
    }
  </div>
</div>
