@use '../../../../styles/colors' as color;

@mixin condition-icon-style($color) {
  path {
    stroke: $color;
  }

  circle {
    stroke: $color;
  }

  circle:not(circle:first-child) {
    fill: $color;
  }
}

:host {
  --plant-condition-icon-size: 1.25rem;

  display: inline-flex;
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--plant-condition-icon-size);
  height: var(--plant-condition-icon-size);

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  .good {
    @include condition-icon-style(color.$action-positive);
  }

  .mid {
    @include condition-icon-style(color.$action-neutral);
  }

  .bad {
    @include condition-icon-style(color.$action-negative);
  }

  .unknown {
    @include condition-icon-style(color.$text);
  }
}
